@import "tailwindcss";

@font-face {
  font-family: BBTMartiresFree;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/fonts/BBTMartiresFree-Regular.woff2') format("woff2");
}
body {
  font-family: 'BBTMartiresFree', sans-serif;
}